extends ../layout

block content
  div(class="game-creation z-depth-1")
    h5 Player # #{player.id} 
    
    if error
      ul(class="error-list error")
        each msg in error
          li= msg
          
    if player.alias.length > 0 && player.bio.length > 0 && user.imageurl.length > 0
      a(href="/games/#{player.gameid}" class="waves-effect waves-light btn") Game Details
    
    form(action='/players/#{player.id}' method='POST' enctype='multipart/form-data')
      p
        input(type="text" name="alias" required placeholder="Alias" value="#{player.alias}")
      p
        input(type="text" name="bio" required placeholder="Bio" value="#{player.bio}")
      p Last Location: #{player.lastlocation}
      
      p
        img(src="#{user.imageurl}" width="150" height="150")
      p
        input(type="file" name="image")
      p 
        input(type="submit" value="Update Player")
        
      input(type="hidden" name="locale")
      
    
    p TODO select alias/ bio combo from presets?
